<section id="bodyCotainer">
<div id="FlightResult">
 <div class="flightOnward FlightResultWrapper" style="display: block; padding: 1% !important;;">
<div class="row">
    <div class="col-3">

    </div>
    <div class="col-2">20:22</div>
    <div class="col-2">19:22</div>
    <div class="col-3">2362</div>
    <div class="col-2">
        <input type="button" class="bookTicBtn" value="boook now">
    </div>
</div>
 </div>
</div>
</section>
<!--add code-->
<section id="bodyCotainer">
    <div class="filterSearchFilter">
        <aside class="flightSearch">
            <form name="searchFlight">
                <div id="depatureDate">
                    <input type="text" placeholder="travelDate" />
                </div>

                <div id="returnDate">
                    <input type="text" placeholder="Return Date" />
                </div>
                <div >
                    <input type="number" placeholder="noOfTravelers" min="1" max="8" />
                </div>
                <div >
                    <input id="searchBtn" type="button" placeholder="Return Date" />
                </div>
            </form>
        </aside>
        <div class="filterdetails">
            <div id="showFilter" class="showFilter"></div>
            <div id="showFilterRoundTrip" class="showFilter"></div>
        </div>
    </div>
    <!-- Flight Search from ends -->
     <!-- Flight List from starts -->
     <div id="FlightResult">
        <div class="flightOnward FlightResultWrapper" style="display: block;padding:1% !important">
        <div class="">
            <div class="row">
                <div class="col-5">
                    <div class="headerStartingDate">
                        <h4 class="headStartLoc">Chennai (MAA)</h4>
                        <p class="headStartLoc">2024-03-06</p>
                    </div>
                </div>
                <div class="col-2 text-center">

                </div>
            </div>
        </div>
        </div>
     </div>
</section>