<div class="container">
    <h1>New Flight Form</h1>
    <hr>
    <div class="row">
        <div class="col-2">
            <label for="">Flight No</label>
            <input type="text" class="form-control" placeholder="Enter Flight No">

        </div>
    </div>

<div class="row pt-3">
    <div class="col-3">
        <label for="">Scheduled Date</label>
        <input type="date" class="form-control" placeholder="Select Travel Date">

    </div>
    <div class="col-3">
        <label for="">Deaparture Time</label>
        <input type="text" class="form-control" placeholder="Enter Deaparture time">

    </div>
    <div class="col-3">
        <label for="">Arrival Time</label>
        <input type="text" class="form-control" placeholder="Enter Arrival time">

    </div>
</div>
<div class="row pt-3">
    <div class="col-4">
        <label for="">Select Departure airport</label>
        <select class="form-select">
            
        </select>
    </div>
    <div class="col-4">
        <label for="">Select Arrival Airport</label>
        <select class="form-select">

        </select>

    </div>
   <br>
   <br>
   <br>
   <br>
    <div class="row ">
        <div class="col-3">
         
            <input type="submit" value="Reset" class="btn btn-success">

        </div>
        <div class="col-3">
            
            <input type="submit" value="Envoyer" class="btn btn-primary">

        </div>
    </div>
</div>

</div>